@{
    ViewBag.Title = "About";
}
<div class="DisplayPanel">
    <div class="Title">Abount the Project</div>
    <table id="Project_Info" style="width: 90%; margin: auto; margin-top: 10px;">
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Create Account
                            <ul>
                                <li>Create a New Account</li>
                                <li>View the Account Holder List & Edit </li>
                            </ul>
                        </li>
                        <li>Opeations
                            <ul>
                                <li>Deposit Amount</li>
                                <li>Withdraw Amount</li>
                                <li>Transfer Amount</li>
                            </ul>
                        </li>
                        <li>Balance Enquiry
                            <ul>
                                <li>Balance Enquiry based on User Name</li>
                            </ul>
                        </li>
                        <li>Statement
                            <ul>
                                <li>Get a Statement based on User Name </li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

